@{
    ViewData["Title"] = "Información";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <style>
        .boton {
            background-color: transparent;
            border: 2px solid #333;
            color: #333;
            font-size: 16px;
            padding: 10px 20px;
            margin-right: 10px;
        }
    </style>
</head>
<body>

    <h2>@ViewData["Title"]</h2>

    <div class="buttons">
        <!-- Enlace para Registrar Cliente -->
        <a href="@Url.Action("RegistrarCliente", "Home")" class="boton">Registrar Cliente</a>

        <!-- Botón para Actualizar información cliente -->
        <a href="@Url.Action("ActualizarInformacion","Home")" class="boton" id="boton">Actualizar</a>

        <!-- Botón para Eliminar -->
        <a href="@Url.Action("EliminarCliente", "Home")" class="boton">Eliminar</a>
    </div>



    <label id="newcliente">@ViewData["newcliente"]</label>

    <form asp-action="TextoClientes" method="post">
        <button type="submit">Mostrar Clientes</button>
    </form>

    <!-- Script para mostrar el contenido de ActualizarInformacion.cshtml -->
    <script>
        document.getElementById("BotonActualizar").addEventListener("click", function () {
            document.getElementById("contenidoActualizar").style.display = "block";
        });
    </script>

</body>
</html>