@{
    ViewData["Title"] = "Actualizar Información Cliente";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="" />

    <style>
        .boton {
            background-color: transparent;
            border: 2px solid #333;
            color: #333;
            font-size: 16px;
            padding: 10px 20px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h3>Actualizar Información Cliente</h3>
        @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
        {
            <div class="alert alert-danger">@ViewBag.Notificacion</div>
        }

        <h4>Por favor ingresar la identificación del cliente:</h4>
        @using (Html.BeginForm("ActualizarCliente", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td><label>Identificación:</label></td>
                    <td><input type="text" name="id" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" /></td>
                </tr>
                <tr>
                    <td><input type="submit" name="enviar" value="Buscar" /></td>
                </tr>
            </table>
        }

        @if (ViewBag.Cliente != null)
        {
            <h4>Actualizar Información del Cliente</h4>
            @using (Html.BeginForm("ActualizarInformacionCliente", "Home", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td><label>Periodo:</label></td>
                        <td><input type="text" name="cedula" value="@ViewBag.Cliente.periodo" readonly /></td>
                    </tr>
                    <tr>
                        <td><label>Cédula:</label></td>
                        <td><input type="text" name="cedula" value="@ViewBag.Cliente.Cedula" readonly /></td>
                    </tr>
                    <tr>
                        <td><label>Estrato:</label></td>
                        <td><input type="text" name="estrato" value="@ViewBag.Cliente.Estrato" /></td>
                    </tr>
                    <tr>
                        <td><label>Meta de Ahorro:</label></td>
                        <td><input type="text" name="metaAhorro" value="@ViewBag.Cliente.MetaAhorro" /></td>
                    </tr>
                    <tr>
                        <td><label>Consumo de Energía:</label></td>
                        <td><input type="text" name="consumoEnergia" value="@ViewBag.Cliente.ConsumoEnergia" /></td>
                    </tr>
                    <tr>
                        <td><label>Consumo de Agua:</label></td>
                        <td><input type="text" name="consumoAgua" value="@ViewBag.Cliente.ConsumoAgua" /></td>
                    </tr>
                    <tr>
                        <td><label>Consumo de Gas:</label></td>
                        <td><input type="text" name="consumoGas" value="@ViewBag.Cliente.ConsumoGas" readonly /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="actualizar" value="Actualizar" /></td>
                    </tr>
                   
                </table>
            }
        }
        else if (!string.IsNullOrEmpty(ViewBag.NoEncontrado))
        {
            <p>@ViewBag.NoEncontrado</p>
        }
    </div>
</body>
</html>
</html>

